<div class="input">
  <label for="title">タイトル</label>
  <input type="text" id="title" name="title" value="<%= locals[:title] %>">
</div>
<div class="input">
  <label for="body" id="body">本文</label>
  <textarea name="body" rows="10" cols="40"><%= locals[:body] %></textarea><br>
</div>
