<h1>Login</h1>
<div class="form">
  <%= erb :'error', :locals => {:value => @user} %>
  <form action="/login" method="post">
    <%= erb :'form_layout'%>
    <div class="login">
      <input type="submit" value="login" id="login">
      <a href="/signup" id="signup">新規登録はこちら</a>
    </div>
  </form>
</div>
