<h1>Login</h1>
<div class="form">
  <form action="/" method="post">
    <div class="input">
      <label for="name">ユーザー名</label>
      <input type="text" id="name" name="name">
    </div>
    <div>
      <label for="password">パスワード</label>
      <input type="password" id="password" name="password">
    </div>
    <div class="login">
      <input type="submit" value="login" id="login">
      <a href="/signup" id="signup">新規登録はこちら</a>
    </div>
  </form>
</div>
