<h1>Create Post</h1>
<div class="form">
  <%= erb :'error', locals: {object: @post} %>
  <form action="/posts/create" method="post">
    <%= erb :'form_post_layout'%>
    <input type="submit" value="投稿" id="submit">
  </form>
</div>
