<div class="container">
  <h1 class="top">Post</h1>
  <div class="post">
    <p>
      投稿ID
      <%= @post.id %>
    </p>
    <p>
      タイトル
      <%= @post.title %>
    </p>
    <p>本文</p>
    <div class="body">
      <%= @post.body %>
    </div>
  </div>
</div>
