.container {
  width: 80%;
  margin: 0 auto;
  max-width: 500px;
  background-color: #c0c0c0;
}

.post, .body {
  padding: 0.5em 1em;
  margin: 2em 0;
  font-weight: bold;
  border: solid 3px #000000;
}
