.container {
  width: 100%;
  margin: 0 auto;
  max-width: 500px;
  background-color: #FFFFFF;
}

.post, .body, .form {
  max-width: 400px;
  padding: 0.5em 1em;
  margin: 2em 0;
  font-weight: bold;
  border: solid 3px #000000;
}

.link {
  display: inline;
}

.input {
  margin: 20px;
}

#body {
  vertical-align: top;
  margin: 0 30px 0 0;
}


#submit {
  display: block;
  margin: 0 0 0 260px;
}

.header {
  margin: 0 0 0 1000px;
}

#login {
  float: left;
}

#signup {
  float: right;
}
